body {
    background-color: rgba(253, 236, 216, 0.701);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.dark-bg {
    background-color: #445261;
    background-image: url(https://res.cloudinary.com/dbscsb8w1/image/upload/v1663142570/media/images/egg_bg_lewasz.png);
}

.dark-yellow-bg {
    background-color: #c7a006;
}

.dark-orange-bg {
    background-color: #c76a06;
}

.dark-red-bg {
    background-color: #5f0101;
}

.dark-blue-bg {
    background-color: #175496;
}

.main-bg {
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1663140850/media/images/woodbg_small3_r1lccx.png");
    background-color: rgba(255, 254, 252, 0.7);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.image-flash2 {
    position: absolute;
    bottom: 35%;
    min-width: 20%;
    left: -2px;
}

.image-flash-top {
    position: absolute;
    top: 2%;
    min-width: 15%;
    left: 38%;
}

.image-flash-bottom-1 {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
}

.image-flash-bottom-2 {
    position: absolute;
    bottom: 25%;
    min-width: 30%;
    right: -2px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    background-image: url(https://res.cloudinary.com/dbscsb8w1/image/upload/v1663142570/media/images/egg_bg_lewasz.png);
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-title2 {
    margin-top: 5%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.post-subtitle2 {
    margin-top: 1%;
    margin-left: 5%;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.bg-header {
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1663097254/media/images/header_background_eidhla_fe7aqi.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-image {
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1663166372/media/images/rndroll-logo-omrst8_achwz1.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
}

.special-bg{
    background: rgb(224,190,148);
    background: linear-gradient(180deg, rgba(224,190,148,0.7951330190279237) 2%, rgba(252,249,243,1) 100%);
}

.special-bg2{
    background: rgb(246,226,202);
    background: radial-gradient(circle, rgba(246,226,202,1) 50%, rgba(246,226,202,0) 100%);
}

.special-bg3{
    background: rgb(246,226,202);
    background: linear-gradient(0deg, rgba(246,226,202,0.6483544101234244) 0%, rgba(246,226,202,1) 50%, rgba(246,226,202,0.6483544101234244) 100%);
}

.equipment-bg{
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1663096582/media/images/equipment-background_eqah5y.webp");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.note-bg{
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1662904426/media/images/note_ucx35i.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.dark-equipment-bg {
    background-color: #44526190;
}

.event-expired-bg {
    background-color: #fbe5b992;
    box-shadow: 0 0 40px 40px rgba(255, 254, 252, 0.7) inset;
}

.event-private-bg {
    background-color: #e2fbf8;
    box-shadow: 0 0 40px 40px rgba(255, 254, 252, 0.7) inset;
}

.navbar-brand{
    padding: 0 10px;
}

.nav-login {
    margin-left: 2.5%;
}

.nav-button-margin {
    margin-left: 2%;
}

.helptext {
    color: #e9b60f;
}

.errorlist{
    color: #f55151;
}