body {
    background-color: rgba(253, 236, 216, 0.701);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.dark-red-bg {
    background-color: #5f0101;
}

.main-bg {
    background-color: rgba(254, 245, 236, 0.701);
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.image-flash-2 {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    right: -2px;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.bg-header {
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451123/worldmap_cf38gd.jpg");
}

.navbar-image {
    background-image: url("https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451130/cubes640_sjl1br.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
}

.special-bg{
    background: rgb(171,142,111);
    background: linear-gradient(180deg, rgba(171,142,111,1) 0%, rgba(246,226,202,1) 26%, rgba(246,226,202,0.7010154403558299) 100%);
}

.navbar-brand{
    padding: 0 10px;
}

.nav-login {
    margin-left: 2.5%;
}

.nav-button-margin {
    margin-left: 2%;
}