{% extends 'base.html' %} 

{% block title %}
Password
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text dark-bg">
                    <div class="row">
                        <h1 class="post-title2">Change Password</h1>
                        <br>
                        <br>
                        <div class="row post-subtitle2">
                            <div class="col-10">
                                <strong>
                                    {{ form.as_p}}
                                </strong>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image dark-bg">
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" width="165%" alt="Default Event Picture">
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-12 masthead-text dark-bg">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-9">
                            <ul class="list-unstyled">
                                <li class="my-4">Your password can't be too similar to your other personal information.</li>
                                <li class="my-4">Your password must contain at least 8 characters.</li>
                                <li class="my-4">Your password can't be a commonly used password.</li>
                                <li class="my-4">Your password can't be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 ms-4">
                            <strong>
                                <input class="btn btn-secondary" type="submit" value="Change Password">
                            </strong>
                        </div>
                        <div class="col-1 mx-5"></div>
                        <div class="col-2">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="{% url 'home' %}" aria-label="Return to the home page">Cancel</a>
                            </strong>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>  
    </div>
</form>
<br>
{% else %}

<h5 class="ms-5">You need to be logged in to change your password.</h5>

{% endif %}
{%endblock%}