{% extends 'base.html' %} 

{% block title %}
Profile
{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text dark-bg">
                <div class="row g-0">
                    <h1 class="post-title2">{{ profile.user.username }}'s Profile</h1>
                </div>
                <div class="row g-0">
                    <h3 class="post-subtitle2">Name: {{ profile.user.first_name }} {{ profile.user.last_name }}</h3>   
                </div>
                {% if user.id == profile.user.id or user.is_staff %}
                <div class="row g-0">
                    <h3 class="post-subtitle2">Email: {{ profile.user.email}}</h3>  
                </div>
                {% endif %}

                <div class="row g-0">
                    <div class="col-4 post-subtitle2">
                        {% if user.id == profile.user.id or profile.gm == True %}
                        {% if profile.gm == True %}
                        <button class="btn btn-light" disabled>Game Master</button>
                        {% elif profile.gm_requests.requested == True %}
                        <button class="btn btn-light" disabled>Game Master promotion request is in review</button>
                        {% else %}
                        <form method="post">
                            {% csrf_token %}
                            {{ gm_request_form }}
                            <button type="submit" class="btn btn btn-light">Request promotion to Game Master</button>
                        </form>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% if user.id == profile.user.id %}
                <div class="image-flash-up-1 dark-red-bg">
                    <a href="{% url 'settings_edit' %}" class="author nav-link">Edit Settings</a>
                </div>
                <div class="image-flash-up-2 dark-orange-bg">
                    <a href="{% url 'edit_profile' user.profile.id %}" class="author nav-link">Edit Profile</a>
                </div>
                <div class="image-flash-up-3 dark-yellow-bg">
                    <a href="{% url 'password_change' %}" class="author nav-link">Change Password</a>
                </div>
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-4 masthead-image">
                {% if "placeholder" in profile.profile_pic.url %}
                <img class="card-img-top"
                    src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473625/media/images/profile_default_fhyukf.jpg">
                {% else %}
                <img class="card-img-top" src="{{ profile.profile_pic.url }}">
                {% endif %}
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-8 masthead-text dark-bg">
                <br>
                <div class="row post-subtitle2">
                    <h6 class="text-white">Bio:</h6>
                    <h6 class="text-white">{{ profile.bio | safe }}</h6>
                </div>
                <div class="row post-subtitle2">
                    <h6 class="text-white">Links:</h6>
                    <div>
                        <h6>
                            {% if profile.website_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.website_url }}"><i class="fa-solid fa-globe"></i></a>
                            {% endif %}
                            {% if profile.facebook_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.facebook_url }}"><i class="fab fa-facebook-square text-white"></i></a>
                            {% endif %}
                            {% if profile.twitter_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.twitter_url }}"><i class="fab fa-twitter-square text-white"></i></a>
                            {% endif %}
                            {% if profile.twitch_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.twitch_url }}"><i class="fab fa-brands fa-twitch text-white"></i></a>
                            {% endif %}
                            {% if profile.instagram_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.instagram_url }}"><i class="fab fa-instagram-square text-white"></i></a>
                            {% endif %}
                            {% if profile.youtube_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.youtube_url }}"><i class="fab fa-youtube-square text-white"></i></a>
                            {% endif %}
                            {% if profile.pinterest_url %}
                            <a class="text-decoration-none text-white m-2" href="{{ profile.pinterest_url }}"><i class="fa-brands fa-pinterest text-white"></i></a>
                            {% endif %}
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4 masthead-text dark-bg">
            </div>
        </div>
    </div>
    <br>
</div>
<br>
<br>
{% if user.profile.gm %}
<div class="container">
    <div class="row">
        <a class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMessages" aria-expanded="false" aria-controls="collapseMessages">
            <h3 class="text-secondary">Messages</h3>
            <small class="text-secondary">Click to see the Messages</small>
        </a>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseMessages">
            <div class="card card-body">
                <div class="row">
                    <div class="col-sm-6 my-2">
                        <h4> User Messages</h4>
                        {% for message in messages.all %}
                        <div class="comments">
                            <strong>
                                {{ message.user }}
                                <span class=" text-muted font-weight-normal">
                                    {{ message.created_on }}
                                </span> wrote:
                            </strong>
                            <div>
                                {{ message.body | safe  }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if user.is_staff %}
                    <div class="col-sm-6 my-2">
                        <h4> Game Master Promotion requests</h4>
                        {% for request in gm_requests.all %}
                        <div class="comments">
                            <strong>
                                {{ request.name }}
                                <span class=" text-muted font-weight-normal">
                                    {{ request.created_on }}
                                </span> wrote:
                            </strong>
                            <div>
                                {{ request.body | safe }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOwnedEvents" aria-expanded="false" aria-controls="collapseOwnedEvents">
                <h3 class="text-secondary">Owned Events</h3>
                <small class="text-secondary">Click to see the Events</small>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseOwnedEvents">
            <div class="card card-body">
                <div class="row">
                    {% for event in profile.user.event_creator.all %}
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="card mb-3">
                            {% if event.status == 0 %}
                            <div class="card-body event-private-bg">
                            {% elif event.status == 2 %}
                            <div class="card-body event-expired-bg">
                            {% else %}
                            <div class="card-body">
                            {% endif %}
                                <div class="image-container">
                                    {% if "placeholder" in event.image.url %}
                                    <img class="card-img-top"
                                    src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ event.image.url }}">
                                    {% endif %}
                                    {% if event.status == 0 %}
                                    <div class="image-flash-top dark-blue-bg">
                                        <strong>
                                            <p class="author">Private</p>
                                        </strong>
                                    </div>
                                    {% endif %}
                                    <div class="image-flash dark-bg">
                                        <p class="author">By: {{ event.owner }}</p>
                                    </div>
                                    {% if user.is_staff%}
                                    <div class="image-flash-bottom-2 dark-red-bg">
                                        <a class="author nav-link" href="{% url 'event_delete' event.pk %}">Delete</a>
                                    </div>
                                    {% endif %}
                                    {% if user.id == event.owner.id or user.profile.gm  or user.is_staff %}
                                    <div class="image-flash-bottom-1 dark-orange-bg">
                                        <a class="author nav-link" href="{% url 'event_edit' event.pk %}">Update Event</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'event_detail' event.pk %}" class="post-link">
                                    <h2 class="card-title">{{ event.title }}</h2>
                                    <p class="card-text">{{ event.snippet }}</p>
                                </a>
                                {% if event.status == 2 %}
                                <p class="card-text text-center mt-1"><strong><i class="fa-solid fa-hourglass-end"></i> Expired <i class="fa-solid fa-hourglass-end"></i></strong></p>
                                {% endif %}
                                <hr />
                                <div class="row">
                                    {% if event.status == 2 %}
                                    <p class="col card-text text-muted h6"> 
                                        Started on: {{ event.start_date}}
                                    </p>
                                    {% else %}
                                    <p class="col card-text text-muted h6"> 
                                        Start: {{ event.start_date}}
                                    </p>
                                    {% endif %}
                                    <p class="col-1">
                                        <i class="far fa-heart"></i>
                                    </p>
                                    <p class="col-1">
                                        {{ event.number_of_likes }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNarratedEvents" aria-expanded="false" aria-controls="collapseNarratedEvents">
                <h3 class="text-secondary">Narrated Events</h3>
                <small class="text-secondary">Click to see the Events</small>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseNarratedEvents">
            <div class="card card-body">
                <div class="row">
                    {% for event in gm_events %}
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="card mb-3">
                            {% if event.status == 0 %}
                            <div class="card-body event-private-bg">
                            {% elif event.status == 2 %}
                            <div class="card-body event-expired-bg">
                            {% else %}
                            <div class="card-body">
                            {% endif %}
                                <div class="image-container">
                                    {% if "placeholder" in event.image.url %}
                                    <img class="card-img-top"
                                    src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ event.image.url }}">
                                    {% endif %}
                                    {% if event.status == 0 %}
                                    <div class="image-flash-top dark-blue-bg">
                                        <strong>
                                            <p class="author">Private</p>
                                        </strong>
                                    </div>
                                    {% endif %}
                                    <div class="image-flash dark-bg">
                                        <p class="author">By: {{ event.owner }}</p>
                                    </div>
                                    {% if user.is_staff%}
                                    <div class="image-flash-bottom-2 dark-red-bg">
                                        <a class="author nav-link" href="{% url 'event_delete' event.pk %}">Delete</a>
                                    </div>
                                    {% endif %}
                                    {% if user.id == event.owner.id or user.profile.gm  or user.is_staff %}
                                    <div class="image-flash-bottom-1 dark-orange-bg">
                                        <a class="author nav-link" href="{% url 'event_edit' event.pk %}">Update Event</a>
                                    </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'event_detail' event.pk %}" class="post-link">
                                    <h2 class="card-title">{{ event.title }}</h2>
                                    <p class="card-text">{{ event.snippet }}</p>
                                </a>
                                {% if event.status == 2 %}
                                <p class="card-text text-center mt-1"><strong><i class="fa-solid fa-hourglass-end"></i> Expired <i class="fa-solid fa-hourglass-end"></i></strong></p>
                                {% endif %}
                                <hr />
                                <div class="row">
                                    {% if event.status == 2 %}
                                    <p class="col card-text text-muted h6"> 
                                        Started on: {{ event.start_date}}
                                    </p>
                                    {% else %}
                                    <p class="col card-text text-muted h6"> 
                                        Start: {{ event.start_date}}
                                    </p>
                                    {% endif %}
                                    <p class="col-1">
                                        <i class="far fa-heart"></i>
                                    </p>
                                    <p class="col-1">
                                        {{ event.number_of_likes }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="card-text text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCharacter" aria-expanded="false" aria-controls="collapseCharacter">
                <h3 class="text-secondary">Charaters</h3>
                <p class="text-secondary"><small>Click to see the Characters</small></p>
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            {% if user.id == profile.user.id %}
            <a class="btn btn-success" type="button" href="{% url 'character_create'  %}" class="post-link">
                <strong>Create A New Character</strong>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseCharacter">
            <div class="card card-body">
                <div class="row">
                    {% for character in profile.user.character_post.all %}
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="image-container col-md-4 col-sm-6 col-8">
                                <a href="{% url 'show_character' character.pk %}" class="post-link">
                                {% if "placeholder" in character.image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/media/images/character_default_lgald4.jpg">
                                {% else %}
                                    <img class="card-img-top" src=" {{ character.image.url }}">
                                {% endif %}
                                </a>
                            </div>
                            <div class="col-md-7 col-sm-6 col-8">
                                <div class="card-body">
                                    <h5 class="card-title text-secondary">{{ character.name }}<br>{{ character.character_class }}</h5>
                                    <p class="card-text text-secondary"><strong>Description:</strong><br>{{ character.background_snippet }}</p>
                                    <p class="card-text text-secondary"><small class="text-muted">Created by: {{ character.created_by }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{%endblock%}