{% extends 'base.html' %} 

{% block title %}
Update Profile
{% endblock %}

{% block content %}

{% if user.id == profile.user.id %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <div class="row">
                        <h1 class="post-title2">Update Profile of {{ profile.user.username }}</h1>
                    </div>
                    <br>
                    <div class="row post-subtitle2">
                        <h6>
                            Do you want to change your username or email?
                            <a class="text-white fw-bolder" href="{% url 'settings_edit' %}" aria-label="Change Your User Settings">
                                Click Here
                            </a>
                        </h6>
                    </div>
                    <div class="row post-subtitle2">
                        <h6>
                            Care For A Different Password? 
                            <a class="text-white fw-bolder" href="{% url 'password_change' %}" aria-label="Change Your Password">
                                Click Here
                            </a>
                        </h6>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 masthead-image dark-bg">
                    {% if "placeholder" in profile.profile_pic.url %}
                    <img class="card-img-top"
                        src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473625/media/images/profile_default_fhyukf.jpg" alt="Default Profile Picture">
                    {% else %}
                    <img class="card-img-top" src="{{ profile.profile_pic.url }}" width="100%" alt="Profile Picture">
                    {% endif %}
                </div>
            </div>
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col">
                            <strong>
                            {{ form.as_p}}
                            </strong>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col">
                        
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-2 me-5">
                            <strong>
                                <input class="btn btn-secondary" type="submit" value="Update Profile">
                            </strong>
                        </div>
                        <div class="col-2 ms-5">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Return to the previous page">Cancel</a>
                            </strong>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-4 masthead-text dark-bg">
            </div>
        </div>  
    </div>
</form>
<br>
{% else %}

You need to be logged in to edit your profile settings.

{% endif %}
{%endblock%}