{% extends 'base.html' %} 

{% block title %}
{{ character.name }}
{% endblock %}

{% block content %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-8 masthead-text dark-bg">
                <figure class="post-title2">
                    <blockquote class="blockquote me-3">
                        <h1>{{ character.name }}</h1>
                        <h3>{{ character.character_class }}</h3>
                        <h4>Background:</h4>
                        <h6>{{ character.background | safe }}</h6>
                    </blockquote>
                    {% if not user.id == character.created_by.id %}
                    <figcaption class="blockquote-footer text-white">
                        created by: {{ character.created_by }}
                    </figcaption>
                    {% endif %}
                </figure>
            </div>
            <div class="d-none d-md-block col-md-4 masthead-image dark-bg">
                {% if "placeholder" in character.image.url %}
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/media/images/character_default_lgald4.jpg" width="100%" alt="Default Character Picture">
                {% else %}
                <img src=" {{ character.image.url }}" width="100%" alt="Character Picture">
                {% endif %}
                {% if user.id == character.created_by.id or user.is_staff %}
                <div class="image-flash-bottom-2 dark-red-bg">
                    <a class="author nav-link" href="{% url 'character_delete' character.pk %}" aria-label="Delete This Character">Delete</a>
                </div>
                {% endif %}
                {% if user.id == character.created_by.id or user.profile.gm or user.is_staff %}
                <div class="image-flash-bottom-1 dark-orange-bg">
                    <a class="author nav-link" href="{% url 'character_edit' character.pk %}" aria-label="Update Your Character Details">Update</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row g-0">
            <div class="col dark-bg">
                <div class="card card-body">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <div class="row g-0">
                            <a class="text-decoration-none text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEquipment" aria-expanded="false" aria-controls="collapseEquipment">
                                <h4 class="masthead-text">Equipment</h4>
                                <small class="masthead-text">Click To See The Equipment</small>
                            </a>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>   
        <div class="row g-0">
            <div class="col collapse dark-bg" id="collapseEquipment">
                <div class="card card-body">
                    <div class="col-1"></div>
                    <div class="col-10 equipment-bg">
                        <div class="row my-4">
                            <div class="col-sm-4 col-xs-9 my-4 masthead-text">
                                {% if character.equipt_shoulder_left %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_shoulder_left}}</h6>
                                {% endif %}
                                {% if character.equipt_hand_left %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_hand_left }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_one %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_one }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_two %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_two }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_three %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_three }}</h6>
                                {% endif %}
                                {% if character.equipt_main_hand %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_main_hand }}</h6>
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-xs-9 masthead-text text-center">
                                {% if user.id == character.created_by.id %}
                                <a class="text-decoration-none text-center btn btn-success" href="{% url 'equipment_edit' character.pk %}" aria-label="Update Your Equipment Here">
                                    Update Equipment
                                </a>
                                {% endif %}
                                {% if character.equipt_head %}
                                <h6 class="text-center dark-equipment-bg mt-5">{{ character.equipt_head }}</h6>
                                {% endif %}
                                {% if character.equipt_face %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_face }}</h6>
                                {% endif %}
                                {% if character.equipt_torso %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_torso }}</h6>
                                {% endif %}
                                {% if character.equipt_back %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_back}}</h6>
                                {% endif %}
                                {% if character.equipt_waist %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_waist}}</h6>
                                {% endif %}
                                {% if character.equipt_legs %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_legs }}</h6>
                                {% endif %}
                                {% if character.equipt_feet %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_feet }}</h6>
                                {% endif %}
                            </div>
                            <div class="col-sm-4 col-xs-9 my-4 masthead-text">
                                {% if character.equipt_shoulder_right %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_shoulder_right }}</h6>
                                {% endif %}
                                {% if character.equipt_hand_right %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_hand_right }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_four %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_four }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_five %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_five }}</h6>
                                {% endif %}
                                {% if character.equipt_accessory_six %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_accessory_six }}</h6>
                                {% endif %}
                                {% if character.equipt_off_hand %}
                                <h6 class="text-center dark-equipment-bg my-3">{{ character.equipt_off_hand }}</h6>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a class="card-text text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItem" aria-expanded="false" aria-controls="collapseItem">
                <h4 class="text-secondary">Items</h4>
                <p class="text-secondary"><small>Click To See The Items</small></p>
            </a>
        </div>
        {% if user.id == character.created_by.id %}
        <div class="col-md-4 col-sm-6">
            <a class="card-text text-decoration-none" type="button" href="{% url 'item_edit' character.pk %}" aria-label="Update Your Items Here">
                <h4 class="text-secondary">Update Items</h4>
                <p class="text-secondary"><small>Click To Update The Item List</small></p>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col collapse" id="collapseItem">
            <div class="card card-body">
                <div class="row">
                    <div class="col-12">
                        <p class="card-text text-muted">
                            {{ character.items | safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNote" aria-expanded="false" aria-controls="collapseNote">
                <h3 class="text-secondary">Notes</h3>
                <small class="text-secondary">Click to see the Notes</small>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseNote">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6">
                    {% for note in character.character_note.all %}
                    <div class="card-text text-muted">
                        <div class="comments">
                            <strong>
                                {{ note.note | safe }}
                            </strong>
                        </div>
                    </div>
                    {% if user.id == character.created_by.id or user.is_staff %}
                    <div class="col-3">
                        <small>
                            <a class="text-muted nav-link" href="{% url 'note_delete' note.pk %}" aria-label="Remove The Note">Delete</a>
                        </small>
                    </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                    {% if user.id == character.created_by.id %}
                    <div class="col-md-4 col-sm-6">
                        <h6 class="mt-5">New Note:</h6>
                        <form method="post">
                            {% csrf_token %}
                            {{ note_form }}
                            <button type="submit" class="btn btn-success"><strong>Add a new Note</strong></button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <a class="text-decoration-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJoinedEvents" aria-expanded="false" aria-controls="collapseJoinedEvents">
                <h3 class="text-secondary">Joined Events</h3>
                <small class="text-secondary">Click to see the Events</small>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col collapse" id="collapseJoinedEvents">
            <div class="card card-body">
                <div class="row">
                    {% for event in joined_events.all %}
                    <div class="col-xxl-3 col-lg-4 col-md-6">
                        <div class="card mb-3">
                            {% if event.status == 0 %}
                            <div class="card-body event-private-bg">
                            {% elif event.status == 2 %}
                            <div class="card-body event-expired-bg">
                            {% else %}
                                <div class="card-body">
                                {% endif %}
                                    <div class="image-container">
                                        {% if "placeholder" in event.image.url %}
                                        <img class="card-img-top"
                                        src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ event.image.url }}" alt="Event Picture">
                                        {% endif %}
                                        {% if event.status == 0 %}
                                        <div class="image-flash-top dark-blue-bg">
                                            <strong class="author">
                                                Private
                                            </strong>
                                        </div>
                                        {% endif %}
                                        <div class="image-flash dark-bg">
                                            <p class="author">By: {{ event.owner }}</p>
                                        </div>
                                        {% if user.is_staff%}
                                        <div class="image-flash-bottom-2 dark-red-bg">
                                            <a class="author nav-link" href="{% url 'event_delete' event.pk %}" aria-label="Delete the Event">Delete</a>
                                        </div>
                                        {% endif %}
                                        {% if user.id == event.owner.id or user.profile.gm  or user.is_staff %}
                                        <div class="image-flash-bottom-1 dark-orange-bg">
                                            <a class="author nav-link" href="{% url 'event_edit' event.pk %}" aria-label="Update the Event">Update Event</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'event_detail' event.pk %}" class="post-link" aria-label="Show me the deatils of the event {{ event.title }}">
                                        <h2 class="card-title">{{ event.title }}</h2>
                                        <p class="card-text">{{ event.snippet }}</p>
                                    </a>
                                    {% if event.status == 2 %}
                                    <p class="card-text text-center mt-1"><strong><i class="fa-solid fa-hourglass-end"></i> Expired <i class="fa-solid fa-hourglass-end"></i></strong></p>
                                    {% endif %}
                                    <hr />
                                    <div class="row">
                                        {% if event.status == 2 %}
                                        <p class="col card-text text-muted h6"> 
                                            Started on: {{ event.start_date}}
                                        </p>
                                        {% else %}
                                        <p class="col card-text text-muted h6"> 
                                            Start: {{ event.start_date}}
                                        </p>
                                        {% endif %}
                                        <p class="col-1">
                                            <i class="far fa-heart"></i>
                                        </p>
                                        <p class="col-1">
                                            {{ event.number_of_likes }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
        <div class="col-2">
            {% if user.profile.id  %}
            <strong>
                <a class="btn btn-secondary" type="button" value="Cancel" href="{% url 'show_profile' user.profile.id %}" aria-label="Go to the Profile">Back</a>
            </strong>
            {% else %}
            <strong>
                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Retrun to the previous page">Back</a>
            </strong>
            {% endif %}
        </div>
        <div class="col-3"></div>
    </div>
    <br>
</div>

{% endblock content %}