{% extends 'base.html' %} 

{% block title %}
Create a new Character
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container text-secondary">
    <br>
    <h1>Create a new Character</h1>
</div>
<br>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-9 masthead-text dark-bg">
                    <figure class="post-title2">
                        <blockquote class="blockquote pe-5">
                            <h5>Name: {{ form.name }}</h5>
                            <h5>Class: {{ form.character_class }}</h5>
                            <h6>A Short Excerpt Of The Background:</h6>
                            {{ form.background_snippet }}
                        </blockquote>
                        {{ form.created_by}}
                    </figure>
                </div>
                <div class="d-none d-md-block col-md-3 masthead-image dark-bg">
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/media/images/character_default_lgald4.jpg" width="100%" alt="Default Character Picture">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0 dark-bg masthead-text py-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 ms-3">
                            Image: 
                        </div>
                        <div class="col-md-5 col-sm-10 me-5">
                            {{ form.image }}
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 ms-3 mt-3">
                            <small>
                                Preferably use pictures with 150 (width) x 200 (height) pixels.
                                Great Tools to change the size of pictures are:<br>
                                <a class="masthead-text text-decoration-none" href="https://www9.lunapic.com/editor/" target="_blank" aria-label="Extern Link to Image Tool">LunaPic</a>
                                - 
                                <a class="masthead-text text-decoration-none" href="https://tinypng.com/" target="_blank" aria-label="Extern Link to Image Tool">Tinypng</a>
                                - 
                                <a class="masthead-text text-decoration-none" href="https://www.onlineconverter.com/webp" target="_blank" aria-label="Extern Link to Image Tool">Online Converter</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary">Background</h4>
                <p class="card-text text-muted">
                    {{ form.background }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-secondary">Items</h4>
                <p class="card-text text-muted">
                    {{ form.items }}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-2 me-2">
                <input class="btn btn-secondary" type="submit" value="Create Character">
            </div>
            <div class="col-2 ms-5">
                <strong>
                    <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Return to the previous page">Cancel</a>
                </strong>
            </div>
            <div class="col-3"></div>
        </div>
        <br>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("owner").value = name;
    </script>
</form>
{% else %}

<h5 class="ms-5">You need to be logged in to create a character.</h5>

{% endif %}
{%endblock%}