{% extends 'base.html' %} 

{% block title %}
Delete A Character
{% endblock %}

{% block content %}
{% if user.id == character.created_by.id or user.is_staff %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg ">
                    <figure class="post-title2">
                        <blockquote class="blockquote me-3">
                            <h1>Delete Character</h1>
                            <h3>{{ character.name }}</h3>
                            <h4>{{ character.character_class }}</h4>
                            <br>
                            <strong> 
                                Are you sure?
                            </strong>
                            <h6 class="pt-4">
                                <strong> 
                                    This will completely remove the character and the connected equipment, items, notes, and pictures.
                                </strong>
                            </h6>
                            <h6 class="pt-2">
                                <strong>
                                    Any Event that has been joined will only be so far affected, as the character will be removed from the group.
                                </strong>
                            </h6>
                        </blockquote>
                    </figure>
                </div>
                <div class="d-none d-md-block col-md-4 masthead-image dark-bg">
                    {% if "placeholder" in character.image.url %}
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/media/images/character_default_lgald4.jpg" width="100%" alt="Default Character Picture">
                    {% else %}
                    <img src=" {{ character.image.url }}" width="100%" alt="Character Picture">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <div class="row post-subtitle">
                        <div class="col-7 my-4">
                            <button class="btn btn-danger">Delete Character!</button>
                        </div>
                        <div class="col-2 my-4">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Return to the previous page">Cancel</a>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masthead-text dark-bg"></div>
                <br>

            </div>
        </div>
        <br>
    </div>
</form>
{% else %}
<!-- Error Message -->
<h5 class="ms-5">Only the character creator or an administrator can delete a character.</h5>
<h6 class="ms-5">Please contact an administrator, if this character needs to be deleted.</h6>


{% endif %}
{% endblock content %}