{% extends 'base.html' %} 

{% block title %}
Update {{ character.character_class }} {{ character.name }} Equipment
{% endblock %}

{% block content %}
{% if user.id == character.created_by.id or user.is_staff %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <h1 class="post-title2">{{ character.name }}</h1>
                    <h3 class="post-subtitle2">{{ character.character_class }}</h3>
                    <div class="d-none d-md-block">
                        <img class="m-5" src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662998825/media/images/knight-armor_ogbqs0.webp" alt="Equipment">
                    </div>
                </div>
                <div class="d-none d-md-block col-md-4 masthead-image dark-bg">
                    {% if "placeholder" in character.image.url %}
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/media/images/character_default_lgald4.jpg" width="100%" alt="Default Character Picture">
                    {% else %}
                    <img src=" {{ character.image.url }}" width="100%" alt="Character Picture">
                    {% endif %}
                </div>
            </div>
            <div class="row g-0 dark-bg ">
                <div class="col-1"></div>
                <div class="col-10 text-center mt-3">
                    <h4 class="masthead-text text-center">Update</h4>
                    <h4 class="masthead-text text-center">Equipment</h4>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row g-0 dark-bg py-3">
                <div class="col-1 "></div>
                <div class="col-10 equipment-bg">
                    <div class="row my-4">
                        <div class="col-sm-4 col-xs-9 my-4 masthead-text">
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Left Shoulder
                                    {{ form.equipt_shoulder_left}}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Left Hand
                                    {{ form.equipt_hand_left }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Accessory
                                    {{ form.equipt_accessory_one }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Accessory
                                    {{ form.equipt_accessory_two }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Accessory
                                    {{ form.equipt_accessory_three }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                    <strong>
                                    Main Hand
                                    {{ form.equipt_main_hand }}
                                </strong>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-9 masthead-text text-center">
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Head
                                    {{ form.equipt_head }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Face
                                    {{ form.equipt_face }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Torso
                                    {{ form.equipt_torso }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Back
                                    {{ form.equipt_back }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Waist
                                    {{ form.equipt_waist }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Legs
                                    {{ form.equipt_legs }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Feet
                                    {{ form.equipt_feet }}
                                </strong>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-9 my-4 masthead-text">
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>    
                                    Right Shoulder
                                    {{ form.equipt_shoulder_right }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>    
                                    Right Hand
                                    {{ form.equipt_hand_right }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>    
                                    Accessory
                                    {{ form.equipt_accessory_four }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Accessory
                                    {{ form.equipt_accessory_five }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>    
                                    Accessory
                                    {{ form.equipt_accessory_six }}
                                </strong>
                            </div>
                            <div class="text-center dark-equipment-bg my-3">
                                <strong>
                                    Off Hand
                                    {{ form.equipt_off_hand }}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-2 me-2">
                    <input class="btn btn-secondary" type="submit" value="Update">
                </div>
                <div class="col-2 ms-5">
                    <strong>
                        <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Return to the previous page">Cancel</a>
                    </strong>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
        <br>
    </div>
</form>
{% else %}

<h5 class="ms-5">You need to be the Character Creator to edit a character.</h5>

{% endif %}
{%endblock%}