{% extends 'base.html' %} 

{% block title %}
Delete A Note
{% endblock %}

{% block content %}
{% if user.id == note.character.created_by.id or user.is_staff %}
<div class="container text-secondary">
    <br>
    <h1>Delete Note</h1>
</div>
<br>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <figure class="post-title2">
                        <blockquote class="blockquote">
                            <h1>Delete:</h1>
                            <h3>{{ note.note }}</h3>
                            <br>
                            <strong> 
                                Are you sure?
                            </strong>
                            <h5 class="pt-2">
                                <strong> 
                                    This will completely remove the Note.
                                </strong>
                            </h5>
                        </blockquote>
                    </figure>
                </div>
                <div class="d-none d-md-block col-md-4 masthead-image dark-bg">
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662904426/media/images/note_ucx35i.png" width="100%" alt="notes">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg py-3">
                    <div class="row post-subtitle">
                        <div class="col-7">
                            <button class="btn btn-danger">Delete Note!</button>
                        </div>
                        <div class="col-2 ms-1">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;" aria-label="Return to the previous page">Cancel</a>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masthead-text dark-bg"></div>
                <br>
            </div>
        </div>
        <br>
    </div>
</form>
{% else %}

<h5 class="ms-5">Only the administrator can delete a note.</h5>
<h6 class="ms-5">Please contact an administrator, if this note needs to be deleted.</h6>

{% endif %}
{% endblock content %}