{% extends 'base.html' %} 

{% block title %}
Delete A Picture
{% endblock %}

{% block content %}
{% if user.id == note.character.created_by.id or user.is_staff %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <figure class="post-title2">
                        <blockquote class="blockquote">
                            <h1>Delete Picture</h1>
                            <br>
                            <strong> 
                                Are you sure?
                            </strong>
                            <h5 class="pt-2">
                                <strong> 
                                    This will completely remove the Picture.
                                </strong>
                            </h5>
                        </blockquote>
                    </figure>
                </div>
                <div class="d-none d-md-block col-md-4 dark-bg p-5">
                    {{ picture.image | safe }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <div class="row post-subtitle">
                        <div class="col-7">
                            <button class="btn btn-danger">Delete Picture!</button>
                        </div>
                        <div class="col-2">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;">Cancel</a>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masthead-text dark-bg"></div>
                <br>
                <br>
            </div>
        </div>
        <br>
    </div>
</form>
{% else %}

Only administrator can delete a Picture.

Please contact an administrator, if this note needs to be deleted.

{% endif %}
{% endblock content %}