{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>
        {% block title %}
            RND|ROLL 
        {% endblock %}
    </title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src=https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js></script>
    <link rel="stylesheet" href="{% static 'summernote/summernote-lite.css' %}" type="text/css">
    <script src="{% static 'summernote/summernote-lite.js' %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://kit.fontawesome.com/5bf0c6b681.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>



    <!-- Navigation -->
<header>
    <div class="bg-header">
        <nav class="navbar navbar-expand-md navbar-light">
            {% if user.is_authenticated %}
            <div class="col-9"></div>
            <div class="col-3 text-center special-bg2">
                <strong>Hello, {{ user.username }}!</strong>
            </div>
            {% endif %}
        </nav>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div class="navbar-image">
                    <a class="navbar-brand sticky-top special-bg3" href="{% url 'home' %}"><span class="brand">R
                        <span class="red-o">N</span>
                        D
                        <span>|ROLL</span>
                    </span></a>
                </div>
            </div>
            
            <div class="container-fluid text-center h5 special-bg3">
                <strong>Check out, join in, create, narrate and have fun.</strong>
            </div>
        </nav>
    </div>
    <nav class="navbar navbar-expand-md navbar-light navbar-2 special-bg">
        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'conduct' %}">Conduct</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'event_calendar' %}">Calendar</a></strong>
                    </li>
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'index_tag' %}">Tags</a></strong>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'event_create' %}">Create Event</a></strong>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Create Event</a>
                    </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% if user.profile.id  %}
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'show_profile' user.profile.id %}">Profile & Repository</a></strong>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <strong><a class="nav-link" aria-current="page" href="{% url 'create_profile' %}">Profile & Repository</a></strong>
                    </li>
                    {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="#">Profile & Repository</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="nav-button-margin">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-3 mb-2 mb-lg-0 nav-login">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <strong><a class="nav-link" href="{% url 'create_message' %}" title="Send A Message"><i class="fa-solid fa-message"></i></a></strong>
                </li>
                {% if user.is_staff %}
                <li class="nav-item">
                    <strong><a class="nav-link" href="{% url 'admin:index' %}" target="_blank" title="You are a Site-Admin"><i class="fa-solid fa-dice-d20"></i></a></strong>
                </li>
                {% endif %} 
                {% if user.profile.gm %}
                <li class="nav-item">
                    <strong><a class="nav-link" title="You are a Game Master"><i class="fa-solid fa-dragon"></i></a></strong>
                </li>
                {% endif %}
                <li class="nav-item">
                    <strong><a class="nav-link" href="{% url 'logout' %}">Logout</a></strong>
                </li>
                {% else %}
                <li class="nav-item">
                    <strong><a class="nav-link" href="{% url 'register' %}">Register</a></strong>
                </li>
                <li class="nav-item">
                    <strong><a class="nav-link" href="{% url 'login' %}">Login</a></strong>
                </li>
            </ul>
                {% endif %}
        </div>
    </nav>
</header>
    
<body class="d-flex flex-column h-100 main-bg">

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">Made by Andreas Beier</p>
        <p class="m-0 text-center text-white">Follow us:
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3 text-white"></i></a>
            <a href="https://www.twitch.tv/"><i class="fab fa-brands fa-twitch ms-3 text-white"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter-square ms-3 text-white"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3 text-white"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3 text-white"></i></a>
        </p>
    </footer>
</body>

</html>