{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">Conduct</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">
                    <ul>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#idea">Idea and Features</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#code">Code of Conduct</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#about">About</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#legal">Legal</a>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451130/cubes640_sjl1br.png" width="50%">
            </div>
        </div>
        <div class="col card mb-4  mt-3 left  top">
            <h4 class="text-secondary" id="idea">Idea and Features</h4>
            <p class="card-text text-muted">
            </p>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="code">Code of Conduct</h4>
                <p class="card-text text-muted">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="about">About</h4>
                <p class="card-text text-muted">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="legal">Legal</h4>
                <p class="card-text text-muted">
                </p>
            </div>
        </div>
    </div>
</div>

{%endblock%}