{% extends "base.html" %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <h1 class="post-title2">Conduct</h1>
                <div class="col-3 post-subtitle2">
                    <ul>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#idea" aria-label="Go to Idea and Features">Idea and Features</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#code" aria-label="Go to Code of Conduct">Code of Conduct</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#about" aria-label="Go to About">About</a>
                        </li>
                        <li class="list-unstyled tag-list">
                            <a class="nav-link text-light" aria-current="page" href="#legal" aria-label="Go to Legal">Legal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
            </div>
        </div>
        <div class="col card mb-4  mt-3 left  top">
            <h4 class="text-secondary" id="idea">Idea and Features</h4>
            <p class="card-text text-muted">
                RND|Roll is a TV Guide Online Magazine for Tabletop Roll Play (TTRPG) / Pen-&-Paper (PnP) games.<br>
                <br>
                As it is possible to record/live stream Dungeon & Dragon (DnD), Warhammer, Pathfinder, HeroQuest, How-to-be-a-Hero, and many other games and variants, it is challenging to keep track of them.<br>
                Most of the time, one stumbles on a Twitch or YouTube Series by accident.<br>
                <br>
                Here one can make a quick post of any event they want to make or promote.<br>
                One can also create characters to add to an event.<br>
                This way, similar to a TV Guide, it is possible to gather some rudimental details on the game and setting.<br>
                So it is easier to find events of interest.<br>
                <br>
                Events can be edited, postponed, or even handed over to someone else if needed.<br>
                Changing the owner of an event will require a site admin and should only be done in exceptions.<br>
                <br>
                To interact with the options on this website, registration is necessary.<br>
                Otherwise, this website is just read-only information on upcoming events.<br>
            </p>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="code">Code of Conduct</h4>
                <p class="card-text text-muted">
                    Honest and respectful conduct is expected.<br>
                    Failure to meet this or any other action due to the lack of mental maturity will be appropriately handled and result in the removal of the user.<br>
                    <br>
                    Please keep any comments on the topic of the related event/show.<br>
                    Constructive feedback and comments are great and the way to go.<br>
                    <br>
                    Any quotes must be marked as a quotation, including from whom and when/ where.<br>
                    <br>
                    Constructive time-management is encouraged or, in other words:<br>
                    Don't waste your time and energy on squabbling, trolling, being pious, edgy, or insulting.<br>
                    <br>
                    There is an exception:<br>
                    Roleplay<br>
                    As a website that showcases roleplaying games, a User playing a character in an event is allowed to comment 'in character' with all the swearing and quirks said character has.<br>
                    The same goes for any NPC played by the Game Master.<br>
                    These comments 'in character' must be marked as such roleplay.<br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="about">About</h4>
                <p class="card-text text-muted">
                    This is a privately created website made as a fan project.<br>
                    Feel free to contact us via our social media links<br>
                </p>
                <p class="m-0 text-center">
                    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3 text-muted display-6" aria-label="Visit us on facebook"></i></a>
                    <a href="https://www.twitch.tv/"><i class="fab fa-brands fa-twitch ms-3 text-muted display-6" aria-label="Visit us on twitch"></i></a>
                    <a href="https://twitter.com/"><i class="fab fa-twitter-square ms-3 text-muted display-6" aria-label="Visit us on twitter"></i></a>
                    <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3 text-muted display-6" aria-label="Visit us on instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3 text-muted display-6" aria-label="Visit us on youtube"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <h4 class="text-secondary" id="legal">Legal</h4>
                <p class="card-text text-muted">
                    Events are listed by the starting date ascending if the status is 'public'.<br>
                    Private Events are only visible in your user profile.<br>
                    Expired events are not automatically deleted.<br>
                    If you participated in them, you find the expired events in your profile.<br>
                    They are also still listed on the calendar.<br>
                    <br>
                    Preferably use pictures with:<br>
                    - 450 x 250 pixels for events<br>
                    - 150 x 200 pixels for character<br>
                    <br>
                    Please the copyright of any copyright owner.<br>
                    <br>
                    This site is free to use without any monetary requirement for site usage. There are no plans to change that for:
                </p>
                <ul>
                    <li class="card-text text-muted">
                        event creation, editing, deletion (including image uploading)
                    </li>
                    <li class="card-text text-muted">
                        character creation, editing, deletion (including image uploading)
                    </li>
                    <li class="card-text text-muted">
                        commenting, likes
                    </li>
                    <li class="card-text text-muted">
                        user profile usage (including image uploading, etc.)
                    </li>
                    <li class="card-text text-muted">
                        event listing
                    </li>
                </ul>
                <p class="card-text text-muted">
                    The content of the events is owned by the event owner.<br>
                    The content of the character is owned by the character creator.<br>
                    The content of any comment is owned by the comment creator and is their responsibility.<br>
                    <br>
                    Any picture used for this website's background and navigation is 'free use'.<br>
                    The pictures in the test events and the test character are not for commercial use and have been modified.
                </p>
            </div>
        </div>
    </div>
</div>

{%endblock%}