{% extends 'base.html' %} 

{% block title %}
Create a new Event
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container text-secondary">
    <br>
    <h1>Add Event</h1>
</div>
<br>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead form-group">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text dark-bg">
                    <br>
                    <div class="row">
                        <div class="col-1 mx-3">
                            <strong>
                                Title:
                            </strong>
                        </div>
                        <div class="col me-3">
                            {{ form.title }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1 mx-3 post-subtitle">
                            Tags:
                        </div>
                        <div class="col me-3">
                            {{ form.tag }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image dark-bg">
                    <div class="row">
                        <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" height="250px" width="60%">
                        <div class="col-3"></div>
                        <div class="image-flash-2 main-bg">
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col">
                                    Image: {{ form.image }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <h4 class="text-secondary">Story</h4>
                <p class="card-text text-muted">
                    {{ form.story }}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Snippet</strong></h5>
                        <p class="card-text text-muted">
                            {{ form.snippet }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Main Link: </strong></h5>
                        <p class="col card-text text-muted"> 
                            {{ form.main_link }}
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Shoutouts:</strong></h5>
                        <p class="card-text text-muted"> {{ form.shoutouts }} </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Other Links:</strong></h5>
                        <p class="card-text text-muted"> {{ form.links }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong><label class="control-label text-secondary">Starts on:</label></strong></h5>
                            {{ form.start_date }}
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Max. Players:</strong></h5>
                            <strong class="text-secondary">{{ form.character_max }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Status:</strong></h5>
                            <strong class="text-secondary">{{ form.status }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Game Master:</strong></h5>
                            <strong class="text-secondary" > {{ form.game_master }} </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <h5><strong class="text-secondary">Ruleset</strong></h5>
                            <strong class="text-secondary"> {{ form.rule_set }} </strong>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            {% if user.profile.gm %}
                            <h5><strong class="text-secondary">Characters:</strong></h5>
                            <strong class="text-secondary" > {{ form.characters }} </strong>
                            {% endif %}
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <strong class="text-secondary">{{ form.owner }}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mx-3">
                        <input class="btn btn-secondary" type="submit" value="Submit">
                    </div>
                    <div class="col-2 ms-3">
                        <strong>
                            <a class="btn btn-secondary" type="button" value="Cancel" href="{% url 'home' %}">Cancel</a>
                        </strong>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("owner").value = name;
    </script>
</form>
{% else %}

You need to be logged in to create an event post.

{% endif %}
{%endblock%}