{% extends 'base.html' %} 

{% block title %}
Remove an Event
{% endblock %}

{% block content %}
{% if user.id == event.owner.id or user.is_staff %}
<div class="container text-secondary">
    <br>
    <h1>Delete Event</h1>
</div>
<br>

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text dark-bg">
                    <div class="row">
                        <div>
                            <h2 class="post-title2">Delete:<br>{{ event.title }}</h2>
                            <h4 class="post-subtitle">
                                <strong> 
                                    Are you sure?
                                </strong>
                            </h4>
                        </div>
                    </div>
                    <br>
                    <div class="post-subtitle">
                        <h5>
                            <strong> 
                                This will completely remove the event and the connected comments.
                                The characters will not be affected.
                            </strong>
                        </h5>
                    </div>
                    <br>
                    <div class="post-subtitle">
                        <h5>
                            <strong> Please note that an Event can always be edited.</strong>
                        </h5>
                        <h5>
                            If necessary an admin can even change the owner of an event and hand it to someone else on the admin site.
                        </h5>
                        <br>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image dark-bg">
                    {% if "placeholder" in event.image.url %}
                    <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" width="100%" alt="Default Event Picture">
                    {% else %}
                    <img src=" {{ event.image.url }}" width="100%" alt="Event Picture">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-0">
                <div class="col-md-8 masthead-text dark-bg">
                    <div class="row post-subtitle">
                        <div class="col-5 me-2">
                            <button class="btn btn-danger">Delete Event!</button>
                        </div>
                        <div class="col-2 ms-5">
                            <strong>
                                <a class="btn btn-secondary" type="button" value="Cancel" href="#" onclick="javascript:window.history.back(-1);return false;">Cancel</a>
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masthead-text dark-bg"></div>
                <br>
                <br>
            </div>
        </div>
    </div>
</form>
{% else %}

<h5 class="ms-5"> Only the administrator can delete an event.</h5>

<h6 class="ms-5"> Please contact an administrator, if this event needs to be deleted.</h6>

<h6 class="ms-5"> <strong>An administrator can change the owner of an event.<br>You could hand over the event to someone else with the help of an administrator.</strong></h6>

{% endif %}
{%endblock%}