{% extends 'base.html' %} 

{% block title %}
Create a new Event
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container text-secondary">
    <br>
    <h1>Add Event</h1>
</div>
<br>
<!-- Event creation form -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead form-group">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-7 masthead-text dark-bg">
                    <br>
                    <div class="row">
                        <div class="col-1 mx-3">
                            <strong>
                                Title:
                            </strong>
                        </div>
                        <div class="col me-5">
                            {{ form.title }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1 mx-3">
                            Tags:
                        </div>
                        <div class="col me-5">
                            {{ form.tag }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="d-none d-md-block col-md-5 masthead-text masthead-image dark-bg">
                    <div class="row">
                        <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" height="250px" width="60%" alt="Default Event Picture">
                    </div>
                </div>
            </div>
            <div class="row g-0 dark-bg masthead-text py-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-1 ms-3">
                            Image: 
                        </div>
                        <div class="col-md-5 col-sm-10 me-5">
                            {{ form.image }}
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 ms-3 mt-3">
                            <small>
                                Preferably use pictures with 450 (width) x 250 (height) pixels.
                                Great Tools to change the size of pictures are:<br>
                                <a class="masthead-text text-decoration-none" href="https://www9.lunapic.com/editor/" target="_blank" aria-label="Extern Link to Image Tool">LunaPic</a>
                                - 
                                <a class="masthead-text text-decoration-none" href="https://tinypng.com/" target="_blank" aria-label="Extern Link to Image Tool">Tinypng</a>
                                - 
                                <a class="masthead-text text-decoration-none" href="https://www.onlineconverter.com/webp" target="_blank" aria-label="Extern Link to Image Tool">Online Converter</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-0">
            <div class="col mt-3">
                <h4 class="text-secondary">Story</h4>
                <p class="card-text text-muted">
                    {{ form.story }}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Snippet</strong></h5>
                        <p class="card-text text-muted">
                            {{ form.snippet }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Main Link: </strong></h5>
                        <p class="col card-text text-muted"> 
                            {{ form.main_link }}
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Shoutouts:</strong></h5>
                        <p class="card-text text-muted"> {{ form.shoutouts }} </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Other Links:</strong></h5>
                        <p class="card-text text-muted" aria-label="Extra Links From The Event"> {{ form.links }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong><label class="control-label text-secondary">Starts on:</label></strong></h5>
                            {{ form.start_date }}
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Max. Players:</strong></h5>
                            <strong class="text-secondary">{{ form.character_max }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Status:</strong></h5>
                            <strong class="text-secondary">{{ form.status }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Game Master:</strong></h5>
                            <strong class="text-secondary" > {{ form.game_master }} </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <h5><strong class="text-secondary">Ruleset</strong></h5>
                            <strong class="text-secondary"> {{ form.rule_set }} </strong>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <!-- characters can only be added to the event over the form by the game master -->
                            {% if user.profile.gm %}
                            <h5><strong class="text-secondary">Characters:</strong></h5>
                            <strong class="text-secondary" > {{ form.characters }} </strong>
                            {% endif %}
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <strong class="text-secondary">{{ form.owner }}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 mx-3">
                        <input class="btn btn-secondary" type="submit" value="Submit">
                    </div>
                    <div class="col-2 ms-3">
                        <strong>
                            <a class="btn btn-secondary" type="button" value="Cancel" href="{% url 'home' %}" aria-label="Return to the home page">Cancel</a>
                        </strong>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("owner").value = name;
    </script>
</form>
{% else %}
<!-- Error Message -->
<h5 class="ms-5"> You need to be logged in to create an event. </h5>

{% endif %}
{%endblock%}