{% extends 'base.html' %} 

{% block title %}
{{ event.title }}
{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <div class="row">
                    <div>
                        <h1 class="post-title2">{{ event.title }}</h1>
                        <h6 class="post-subtitle ms-3">
                            <ul>
                            {% for tag in event.tag.all %}
                                <li class="list-unstyled tag-list">
                                    <a class="nav-link" href="{% url 'event_tag' tag %}" target="_blank">
                                    {{ tag }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image dark-bg">
                {% if "placeholder" in event.image.url %}
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/event_default_xev64c.jpg" width="100%">
                {% else %}
                <img src=" {{ event.image.url }}" width="100%">
                {% endif %}
                {% if user.id == event.owner.id or user.is_staff %}
                <div class="image-flash-bottom-2 dark-red-bg">
                    <a class="author nav-link" href="{% url 'event_delete' event.pk %}">Delete</a>
                </div>
                {% endif %}
                {% if user.id == event.owner.id or user.profile.gm or user.is_staff %}
                <div class="image-flash-bottom-1 dark-orange-bg">
                    <a class="author nav-link" href="{% url 'event_edit' event.pk %}">Update Event</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col card mb-4  mt-3 left  top">
            <h4 class="text-secondary">Story</h4>
            <p class="card-text text-muted">
                {{ event.story | safe }}
            </p>
            {% if event.main_link %}
            <h5>
                <strong>
                    <a class="btn btn-dark nav-link text-white" href="{{ event.main_link }}" target="_blank"> Watch Us Here</a>
                </strong>
            </h5>
            {% endif %}
            {% if event.shoutouts or event.links %}
            <div class="row">
                <div class="col-md-6 card mb-4  mt-3 left  top">
                    {% if event.shoutouts %}
                    <h5><strong class="text-secondary">Shoutouts:</strong></h5>
                    <p class="card-text text-muted"> {{ event.shoutouts | safe }} </p>
                    {% endif %}
                </div>
                <div class="col-md-6 card mb-4  mt-3 left  top">
                    {% if event.links %}
                    <h5><strong class="text-secondary">Links:</strong></h5>
                    <p class="card-text text-muted"> {{ event.links | safe }} </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 card">
                        <h5><strong class="text-secondary">Starts on:</strong></h5>
                        <strong class="text-secondary"> {{ event.start_date }} </strong>
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-6 card">
                        <h5><strong class="text-secondary">Max. Players:</strong></h5>
                        <strong class="text-secondary">{{ event.character_max }}</strong>
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-6 card">
                        <h5><strong class="text-secondary">Game Master:</strong></h5>
                        <strong class="text-secondary" > {{ event.game_master }} </strong>
                        <br>
                    </div>
                    <div class="col-lg-3 col-md-6 card">
                        <h5><strong class="text-secondary">By:</strong></h5>
                        {% if user.is_authenticated and event.owner.profile.id  %}
                        <strong class="text-secondary"><a class="nav-link" href="{% url 'show_profile' event.owner.profile.id %}">{{ event.owner }}</a></strong>
                        {% else %}
                        <strong class="text-secondary">{{ event.owner }}</strong>
                        {% endif %}
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'event_like' event.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="event_id" value="{{ event.id }}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="event_id" value="{{ event.id }}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        <span class="text-secondary">{{ event.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                    <div class="col">
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-1">
                        <strong>
                            <button class="btn btn-success position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJoin" aria-expanded="false" aria-controls="collapseJoin">
                                Join
                            </button>
                        </strong>
                    </div>
                    {% else %}
                    <div class="col-1">
                        <strong>
                            <button type="button" class="btn btn-secondary position-relative" href="#" disabled>Join</button>
                        </strong>
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col collapse" id="collapseJoin">
                        <div class="card card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <h3 class="text-secondary">Characters:</h3>
        {% for character in event.characters.all %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="image-container col-md-4 col-sm-6 col-8">
                    {% if "placeholder" in character.image.url %}
                        <img class="card-img-top"
                            src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473620/character_default_lgald4.jpg">
                    {% else %}
                        <img class="card-img-top" src=" {{ character.image.url }}">
                    {% endif %}
                    </div>
                <div class="col-md-7 col-sm-6 col-8">
                    <div class="card-body">
                        <h5 class="card-title text-secondary">{{ character.name }}<br>{{ character.character_class }}</h5>
                        {% if character.background_snippet %}
                        <p class="card-text text-secondary"><strong>Description:</strong><br>{{ character.background_snippet }}</p>
                        {% endif %}
                        <p class="card-text text-secondary"><small class="text-muted">Created by: {{ character.created_by }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <hr>
    </div>
    <div class="col-1"></div>
</div>
<div class="container">
    <div class="row">
        <h3 class="text-secondary">Comments:</h3>
            <div class="col-md-8 card mb-4 mt-2 ">
                <div class="card-body">
                    {%if not event.comments.all %}
                    <div class="comments">
                        <p class="font-weight-bold text-secondary">
                            No Comments Yet... 
                        </p>
                    </div>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <h5 class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        Click here to Leave a comment
                    </h5>
                    <div class="row">
                        <div class="col collapse" id="collapseComment">
                            <div class="card card-body">
                                <p>Posting as: {{ user.username }}</p>
                                <form method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
                                    {% csrf_token %}
                                    {{ comment_form }}
                                    <br>
                                    <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    <br>
                    {% for comment in event.comments.all %}
                    <div class="comments">
                        <strong>
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </strong>
                        <div>
                            {{ comment.body | safe }}
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}