{% extends 'base.html' %} 

{% block title %}
Updateing an Event
{% endblock %}

{% block content %}

{% if user.id == event.owner.id or user.profile.gm or user.is_staff %}
<div class="container text-secondary">
    <br>
    <h1>Update Event</h1>
</div>
<br>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="masthead form-group">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 masthead-text dark-bg">
                    <br>
                    <div class="row">
                        <div class="col-1 ms-3">
                            <strong>
                                Title:
                            </strong>
                        </div>
                        <div class="col">
                            {{ form.title }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-1 ms-3 post-subtitle">
                            Tags:
                        </div>
                        <div class="col">
                            {{ form.tag }}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <div class="row">
                        {% if "placeholder" in event.image.url %}
                        <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/event_default_xev64c.jpg" width="100%">
                        {% else %}
                        <img src=" {{ event.image.url }}" width="100%">
                        {% endif %}
                        <div class="col-3"></div>
                        <div class="image-flash-2 main-bg">
                            <div class="col">
                                Image: 
                            </div>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col">
                                    {{ form.image }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <h4 class="text-secondary">Story</h4>
                <p class="card-text text-muted">
                    {{ form.story }}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Snippet</strong></h5>
                        <p class="card-text text-muted">
                            {{ form.snippet }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Main Link: </strong></h5>
                        <p class="col card-text text-muted"> 
                            {{ form.main_link }}
                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Shoutouts:</strong></h5>
                        <p class="card-text text-muted"> {{ form.shoutouts }} </p>
                    </div>
                    <div class="col-md-6">
                        <h5><strong class="text-secondary">Other Links:</strong></h5>
                        <p class="card-text text-muted"> {{ form.links }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong><label class="control-label text-secondary">Starts on:</label></strong></h5>
                            {{ form.start_date }}
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Max. Players:</strong></h5>
                            <strong class="text-secondary">{{ form.character_max }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Status:</strong></h5>
                            <strong class="text-secondary">{{ form.status }}</strong>
                        </div>
                        <div class="col-lg-3 col-sm-6 ">
                            <h5><strong class="text-secondary">Game Master:</strong></h5>
                            <strong class="text-secondary" > {{ form.game_master }} </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col card mb-4  mt-3 left  top">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <strong class="text-secondary"> {{ form.owner }} </strong>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <h5><strong class="text-secondary">Ruleset</strong></h5>
                            <strong class="text-secondary"> {{ form.rule_set }} </strong>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            {% if user.profile.gm %}
                            <h5><strong class="text-secondary">Characters:</strong></h5>
                            <strong class="text-secondary" > {{ form.characters }} </strong>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <input class="btn btn-secondary" type="submit" value="Update">
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}

You need to be the Event Owner or Game Master in to edit an event post.

Note that advanced changes can onlybe done by a Game Master.
These are:
- add or remove characters

{% endif %}
{%endblock%}