{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-9 col-lg-8 col-md-6"></div>
        <div class="col-xxl-3 col-lg-4 col-md-6">
            <form class="d-flex" role="search" action="{% url 'search_results' %}" method="get">
                <input class="form-control me-2" name="q" type="search" placeholder="Search for Title or Owner" aria-label="Search for Title or Owner">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <small class="text-muted ms-3">Search function is case sensetive</small>
        </div> 
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Event Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in event_list %}
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-3">
                        {% if event.status == 0 %}
                        <div class="card-body event-private-bg">
                            {% elif event.status == 2 or time > event.start_date %}
                            <div class="card-body event-expired-bg">
                            {% else %}
                                <div class="card-body">
                                {% endif %}
                                    <div class="image-container">
                                        {% if "placeholder" in event.image.url %}
                                        <img class="card-img-top"
                                        src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ event.image.url }}" alt="Event Picture">
                                        {% endif %}
                                        {% if event.status == 0 %}
                                        <div class="image-flash-top dark-blue-bg">
                                            <p class="author"><strong>Private</strong></p>
                                        </div>
                                        {% endif %}
                                        <div class="image-flash dark-bg">
                                            <p class="author">By: {{ event.owner }}</p>
                                        </div>
                                        {% if user.is_staff%}
                                        <div class="image-flash-bottom-2 dark-red-bg">
                                            <a class="author nav-link" href="{% url 'event_delete' event.pk %}" aria-label="Delete the Event">Delete</a>
                                        </div>
                                        {% endif %}
                                        {% if event.owner %}
                                        {% if user.id == event.owner.id or user.profile.gm  or user.is_staff %}
                                        <div class="image-flash-bottom-1 dark-orange-bg">
                                            <a class="author nav-link" href="{% url 'event_edit' event.pk %}" aria-label="Update the Event">Update Event</a>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'event_detail' event.pk %}" class="post-link" aria-label="Show me the details of the event {{ event.title }}">
                                        <h2 class="card-title">{{ event.title }}</h2>
                                        <p class="card-text">{{ event.snippet | safe }}</p>
                                    </a>
                                    {% if event.status == 2 or time > event.start_date %}
                                    <p class="card-text text-center mt-1"><strong><i class="fa-solid fa-hourglass-end"></i> Expired <i class="fa-solid fa-hourglass-end"></i></strong></p>
                                    {% endif %}
                                    <hr/>
                                    <div class="row">
                                        {% if event.status == 2 %}
                                        <p class="col card-text text-muted h6"> 
                                            Started on: {{ event.start_date }}
                                        </p>
                                        {% else %}
                                        <p class="col card-text text-muted h6"> 
                                            Start: {{ event.start_date}}
                                        </p>
                                        {% endif %}
                                        <p class="col-1">
                                            <i class="far fa-heart"></i>
                                        </p>
                                        <p class="col-1">
                                            {{ event.number_of_likes }}
                                        </p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous Page"><strong>&laquo; PREV </strong></a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next Page"><strong> NEXT &raquo;</strong></a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}