{% extends "base.html" %}

{% block title %}
Tag Index
{% endblock %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <div class="row">
                    <h1 class="post-title">Tag Index</h1>
                </div>
                <br>
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-1"> </div>
                    <div class="col">
                        <a class="btn btn-success px-5" href="{% url 'add_tag' %}">Add Tag</a>
                    </div>
                </div>
                {% if user.is_staff %}
                <br>
                <div class="row">
                    <div class="col-1"> </div>
                    <div class="col">
                        <input class="btn btn-danger" title="This will send you to the Admin Site" value="Delete Tag" onclick = "getConfirmation();" >
                    </div>
                    <script type = "text/javascript">
                        function getConfirmation() {
                           var retVal = confirm("This will send you to the Admin Site.\nDo you want to continue ?");
                           if( retVal == true ) {
                                location.href="{% url 'admin:index' %}"
                                return true;
                           }
                        }
                    </script> 
                </div>
                {% endif %}
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" width="100%">
            </div>
        </div>
        <div class="row g-0">
            <div class="col-md-12 masthead-text dark-bg">
                <div class="row">
                    {% for tag in tag_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body post-subtitle">
                                <strong>
                                    <a class="nav-link" href="{% url 'event_tag' tag %}" target="_blank">
                                        {{ tag }}
                                    </a>
                                </strong>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}