{% extends "base.html" %}

{% block title %}
Tags
{% endblock %}

{% block content %}

{% if tagged_events %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <h1 class="post-title2">Events with the tag: "{{ tags }}"</h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image dark-bg">
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row justify-content-center">
                {% for event in tagged_events %}
                {% if event.status != 0 %}
                <div class="col-lg-4 col-md-6">
                    <div class="card mb-3">
                        {% if event.status == 2 or time > event.start_date %}
                        <div class="card-body event-expired-bg">
                        {% else %}
                            <div class="card-body">
                            {% endif %}
                                <div class="image-container">
                                    {% if "placeholder" in event.image.url %}
                                    <img class="card-img-top"
                                    src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ event.image.url }}" alt="Event Picture">
                                    {% endif %}
                                    <div class="image-flash dark-bg">
                                        <p class="author">By: {{ event.owner }}</p>
                                    </div>
                                    {% if user.is_staff%}
                                    <div class="image-flash-bottom-2 dark-red-bg">
                                        <a class="author nav-link" href="{% url 'event_delete' event.pk %}" aria-label="Delete the Event">Delete</a>
                                    </div>
                                    {% endif %}
                                    {% if event.owner %}
                                    {% if user.id == event.owner.id or user.profile.gm  or user.is_staff %}
                                    <div class="image-flash-bottom-1 dark-orange-bg">
                                        <a class="author nav-link" href="{% url 'event_edit' event.pk %}" aria-label="Update the Event">Update Event</a>
                                    </div>
                                    {% endif %}
                                    {% endif %}
                                </div>
                                <a href="{% url 'event_detail' event.pk %}" class="post-link" aria-label="Show me the details of the event {{ event.title }}">
                                    <h2 class="card-title">{{ event.title }}</h2>
                                    <p class="card-text">{{ event.snippet }}</p>
                                </a>
                                {% if event.status == 2 or time > event.start_date %}
                                <p class="card-text text-center mt-1"><strong><i class="fa-solid fa-hourglass-end"></i> Expired <i class="fa-solid fa-hourglass-end"></i></strong></p>
                                {% endif %}
                                <hr />
                                <div class="row">
                                    {% if event.status == 2 %}
                                    <p class="col card-text text-muted h6"> 
                                        Started on: {{ event.start_date}}
                                    </p>
                                    {% else %}
                                    <p class="col card-text text-muted h6"> 
                                        Start: {{ event.start_date}}
                                    </p>
                                    {% endif %}
                                    <p class="col-1">
                                        <i class="far fa-heart"></i>
                                    </p>
                                    <p class="col-1">
                                        {{ event.number_of_likes }}
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <h1 class="post-title">Sorry, there is no event with the tag: "{{ tags }}" on this site.</h1>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1662473651/media/images/event_default_xev64c.jpg" alt="Default Event Picture">
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}