{% extends "base.html" %}

{% block title %}
Tags
{% endblock %}

{% block content %}

{% if tagged_events %}
<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">Events with the tag: "{{ tags }}"</h1>
                <!-- Post author goes before the | the post's created date goes after -->
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451130/cubes640_sjl1br.png" width="50%">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for event in tagged_events %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in event.image.url %}
                                <img class="card-img-top"
                                src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451130/cubes640_sjl1br.png" width="50%">
                                {% else %}
                                <img class="card-img-top" src=" {{ event.image.url }}">
                                {% endif %}
                                <div class="image-flash dark-bg">
                                    <p class="author">By: {{ event.owner }}</p>
                                </div>
                                {% if user.is_staff %}
                                <div class="image-flash-g">
                                    <div class="image-flash-3 dark-red-bg">
                                        <a class="author nav-link" href="{% url 'event_delete' event.pk %}">Delete</a>
                                    </div>
                                    {% if user.gamemaster.gm %}
                                    <div class="image-flash-2 dark-orange-bg">
                                        <a class="author nav-link" href="{% url 'event_edit' event.pk %}">Update Event</a>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                            <a href="{% url 'event_detail' event.pk %}" class="post-link">
                                <h2 class="card-title">{{ event.title }}</h2>
                                <p class="card-text">{{ event.story| slice:":150" | safe }}...</p>
                            </a>
                            <hr />
                            <div class="row">
                                <p class="col card-text text-muted h6"> 
                                    Start: {{ event.start_date}}
                                </p>
                                <p class="col-1">
                                    <i class="far fa-heart"></i>
                                </p>
                                <p class="col-1">
                                    {{ event.number_of_likes }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text dark-bg">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">Sorry, there is no event tag: "{{ tags }}"" on this site.</h1>
                <!-- Post author goes before the | the post's created date goes after -->
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                <img src="https://res.cloudinary.com/dbscsb8w1/image/upload/v1661451130/cubes640_sjl1br.png" width="50%">
            </div>
        </div>
    </div>
</div>

{% endif %}
{%endblock%}